.backdrop {
  position: fixed;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 20vh;
  left: 15%;
  width: 70%;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  box-sizing: border-box;
}
